* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: white;
    color: #2e2058;
}

/* Header start */

header {
    background-color: #fff;
    padding: .5rem 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header_nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

/* Header Left Start */

.header_left {
    width: 18%;
}

/* Header Left End */

/* Header Right start */

.header_right_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: .9rem;
    font-weight: 600;
}

.header_right_ul li {
    list-style: none;
    cursor: pointer;
    color: #2e2058;
    letter-spacing: .5px;
}

.header_right_ul li i {
    margin-right: 3px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: #2e2058;
    padding: 30px 0;
    font-size: .9rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
    letter-spacing: .5px;
}

.dropbtn i {
    font-size: .7rem;
}

/* The container needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 320px;
    padding: 1.5rem;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #2e2058;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-top: 2px solid black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: lightblue;
} */

.nav_btn {
    padding: 0.5rem 1rem;
    border: none;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
    background-color: #2e2057;
    cursor: pointer;
}

/* Header Right End */

/* main section banner start */

.main_bnr {
    background-color: white;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    position: relative;
}


/* svg */

.page_svg {
    width: 2.5rem;
    position: absolute;
    top: 12.5rem;
    left: -4rem;
}

/* Banner Left side */

.main_bnr_left {
    width: 48%;
}

.main_bnr_left h1 {
    font-size: 1.9rem;
}

.main_bnr_left p {
    font-size: 1rem;
    letter-spacing: .5px;
    line-height: 1.8;
    margin-top: 1rem;
}

.main_bnr_left button {
    padding: .8rem 1.5rem;
    font-size: 1rem;
    border: none;
    background-color: #f8ec1f;
    margin-top: 1.8rem;
    cursor: pointer;
}

.partner_section {
    margin-top: 4rem;
}

.partner_header {
    border: 1px solid black;
    padding: 1.5rem 0;
    position: relative;
}

.partner_header ul{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 86%;
    margin: 0 auto;
    position: absolute;
    top: -1.3rem;
    left: 7%;
}

.partner_header ul li{
    list-style: none;
    font-size: 1rem;
    letter-spacing: 1px;
}

.partner_header ul li span {
    font-weight: 700;
    font-size: larger;
}

.partner_header ul :nth-child(2) {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: .7rem;
}

.partner_detail {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    margin-top: 1rem;
}

.partner_detail_left img {
    width: 80%;
}

.partner_detail_right h3 {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: .3px;
}

.partner_detail_right p {
    font-size: .7rem;
    margin-top: .4rem;
    font-weight: 400;
}

/* Banner right side */

.main_bnr_right {
    width: 48%;
}

/* main section banner end */

/* Marquee Start */

.marquee_section {
    background-color: #f7f7f4;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    position: relative;
}

.mobile_svg {
    position: absolute;
    top: -1rem;
    width: 3.7rem;
}

.marq_sec_contains {
    width: 90%;
    margin: 0 auto;
}

.marquee_section h3 {
    font-size: 1.4rem;
    letter-spacing: 1px;
    font-weight: 600;
    padding-top: 3rem;
    margin-top: 6rem;
}

.slider {
    background: #f7f7f4;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track {
    width: 150px;
    background-color: #f7f7f4;
    display: flex;
    align-items: center;
    height: 180px;
    cursor: grab;
}

.slide img {
    width: 150px;
}


@-webkit-keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-250px * 7));
    }
}


.slider::before,
.slider::after {
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    -webkit-animation: scroll 40s linear infinite;
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

.slider .slide {
    margin: 0 2rem;
}

/* Marquee End */

/* Services section Start */

.services {
    width: 90%;
    margin: 5rem auto;
}

.service_heading {
    text-align: center;
}

.service_heading h3 {
    letter-spacing: 3px;
    font-size: larger;
}

.service_heading h2 {
    font-size: 1.8rem;
    margin-top: 1.8rem;
}

.service_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 3.5rem;
}

.service_row_banner {
    width: 35%;
    margin: 0 auto;
    height: fit-content;
}

.service_row_banner img {
    width: 100%;
    margin: 0 auto;
}

.service_row_cards {
    width: 50%;
}

/* Service Cards */

.service_card {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.service_card_box {
    width: 45%;
    height: fit-content;
    box-shadow: 0px 2px 7px 0px rgba(0, 0, 0, 0.23);
    background-color: #f5f5f5;
    border-radius: 5px;
}

.service_card_box:hover {
    background-color: #271758;

    .card_contain h4 {
        color: #f8ec1f;
    }

    .card_contain p {
        color: white;
    }

    .card_contain button {
        background-color: #271758;
        color: #f8ec1f;
        cursor: pointer;
    }
}

.card_img {
    height: 85px;
    width: 85px;
    border-radius: 50px;
    background-color: #eeedf2;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
}

.card_img img {
    width: 45px;
}

.card_contain {
    margin: 2rem 2rem 1.5rem 1.5rem;
    color: #2e2057;
}

.card_contain h4 {
    line-height: 2rem;
}

.card_contain p {
    font-size: .85rem;
    margin-top: 1rem;
    line-height: 1.4rem;
    font-weight: 500;
}

.card_contain button {
    border: none;
    background-color: #f5f5f5;
    color: #2e2057;
    margin-top: 1rem;
    font-weight: 600;
    cursor: pointer;
}

/* Services section End */

/* About Us Section start */

.about_us {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #2e2057;
    position: relative;
}

.brush_svg {
    position: absolute;
    right: -4rem;
    top: -3rem;
    width: 4rem;
}

.about_us_bnr {
    width: 42%;
}

.about_us_bnr img {
    width: 100%;
    padding-top: 2rem;
}

.about_us_content {
    width: 45%;
}

.about_us_content h4 {
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.about_us_content h3 {
    font-size: 1.9rem;
    letter-spacing: 1px;
    margin-top: 1.3rem;
}

.about_us_content p {
    font-size: 1rem;
    line-height: 2rem;
    margin-top: 1.2rem;
}

.about_us_content button {
    margin-top: 2rem;
    padding: 13px 20px;
    letter-spacing: .8px;
    font-size: .9rem;
    font-weight: 600;
    background-color: #f8ec1f;
    border: none;
    cursor: pointer;
    color: #2e2057;
}

/* About Us Section End */

/* Our Team section Start */

.our_team {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
    color: #2e2057;
    position: relative;
}

.msg_svg {
    position: absolute;
    width: 3.3rem;
    left: -4rem;
    top: -1.2rem;
}

.our_team h2 {
    text-align: center;
    font-size: 1.9rem;
    margin-top: .8rem;
}

.our_team h6 {
    font-size: .8rem;
    text-align: center;
    margin-top: 1rem;
}

.our_team h5 {
    font-size: small;
    text-align: center;
    margin-top: .8rem;
    color: #666666;
}

.our_team_directors {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin: 0 auto;
    margin-top: 3rem;
}

.director_sales {
    width: 45%;
}

.our_team_directors img {
    width: 85%;
    display: flex;
    margin: 0 auto;
}

.director_design {
    width: 45%;
}

/* Our Team section End */

/* Testimonials section start */

.testimonials {
    width: 90%;
    margin: 0 auto;
    margin-top: 5.5rem;
}

.testimonials h1 {
    text-align: center;
    font-size: 1.9rem;
}

.testimonial_details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
}

.testimonial_details div {
    height: 150px;
    width: 31.5%;
    background-color: #f6f6f6;
    padding: 1.2rem 1rem;
    border-radius: 5px;
}

.testimonial_details p {
    font-size: .85rem;
    letter-spacing: .8px;
    line-height: 1.5rem;
}

.testimonial_details h4 {
    margin-top: .9rem;
}

.test_1 h4 {
    color: #0c71c3;
}

.test_2 h4 {
    color: #3b981a;
}

.test_3 h4 {
    color: #b51a17;
}

.more_testimonials {
    text-align: center;
    margin-top: 3rem
}

.more_testimonials h3 {
    font-size: larger;
}

.ratings {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.8rem;
}

.ratings i {
    font-size: .8rem;
    letter-spacing: 0px;
    color: rgb(227, 174, 16);
}

.ratings span {
    font-size: large;
    font-weight: 700;
    margin-left: 1rem;
}

.more_testimonials button {
    cursor: pointer;
    font-size: 1.1rem;
    color: #f8ec1f;
    background-color: #2e2058;
    border: none;
    font-weight: 700;
    padding: .9rem 2.5rem;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 1.8rem;
    gap: 1.1rem;
}

/* Testimonials section end */

/* Blogs section Start */

.blog {
    width: 90%;
    margin: 0 auto;
    margin-top: 8rem;
}

.blog > h3 {
    text-align: center;
    letter-spacing: 3px;
    font-size: 1.3rem;
}

.blog > h1 {
    text-align: center;
    font-size: 1.9rem;
    margin-top: 2rem;
}

.blog p {
    background-color: #f8ec1f;
    width: fit-content;
    margin: 0 auto;
    padding: .7rem 1.5rem;
    font-weight: 500;
    margin-top: 3rem;
    cursor: pointer;
}   

.blog_card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    cursor: pointer;
    height: fit-content;    
}

.blog_card .blog_card_1 {
    height: 27rem;
    box-shadow: 5px 5px 50px #e0e0e0;
}

.blog_card .blog_card_2 {
    height: 27rem;
    box-shadow: 5px 5px 50px #e0e0e0;
}

.blog_card .blog_card_3 {
    height: 27rem;
    box-shadow: 5px 5px 50px #bdbdbd;
}

.blog_card img {
    width: 100%;
}

.blog_card div {
    height: 225px;
    width: 31.5%;
    background-color: white;
}

.blog_card .blog_content {
    width: 100%;
    padding: 1rem;
    color: #242424;
    height: 200px;
}

.blog_content button {
    padding: .3rem .6rem;
    font-size: .9rem;
    font-weight: 500;
    border: none;
    background-color: #2e2058;
    color: white;
    margin-right: 7px;
    cursor: pointer;
}

.blog_content button:hover {
    background-color: #2e2058d4;
}

.blog_content h3 {
    margin-top: .5rem;
    font-size: 1.3rem;
    line-height: 1.8rem;
}

.blog_content .main_btn {
    width: 100%;
    padding: 1rem 0;
    letter-spacing: 1px;
    color: #242424;
    border: 1.5px solid #2e2058;
    background-color: white;
    margin: 1.2rem 0;
}

.blog_content .main_btn:hover {
    color: white;
    background-color: #2e2058;
}

.blog_content .last {
    margin-top: 4.4rem;
}

/* Blogs section End */

/* Contact Us section Start */

.contact_us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87vh;
    background-color: #faf371;
    margin-top: 3rem;
}

.contact_bnr_img {
    width: 33%;
    height: 460px;
    background-color: white;
}

.contact_bnr_img img {
    width: 100%;
}

.contact_form {
    width: 62%;
    background-color: #faf371;

}

.contact_form_heading {
    margin-top: 2rem;
    margin-right: 3rem;
}

.contact_form_heading h1 {
    letter-spacing: 1.4px;
    font-size: 1.9rem;
}

.contact_form_heading p {
    font-size: .85rem;
    letter-spacing: .7px;
    line-height: 1.4rem;
    margin-top: 1rem;
    font-weight: 520;
}


/* Form */

form {
    margin: 20px 0 20px 1rem;
    width: 90%;
}

.form_first_row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form_first_row input {
    padding: 1rem;
    border: none;
    width: 95%;
    border-radius: 5px;
    font-size: .9rem;
}

.form_first_row div {
    margin-top: .2rem;

}

.err_msg {
    font-size: .8rem;
}

.name_input {
    width: 100%;
}

.email_input {
    width: 100%;
}

.tel_input {
    width: 100%;
}

textarea {
    width: 99%;
    border: none;
    margin-top: 1.5rem;
    padding: 1rem;
    font-size: .9rem;
    height: 150px;
}

input.error,
textarea.error {
    border: 1px solid red;
}

.err_msg {
    color: red;
    margin-top: -15px;
    margin-bottom: 10px;
}

.submit_btn {
    width: 99%;
    display: flex;
    justify-content: end;
}

.submit_btn button {
    font-weight: 600;
    font-size: 1.2rem;
    background-color: #faf371;
    color: #2e2057;
    border: 2px solid #2e2057;
    padding: .8rem 2rem;
    cursor: pointer;
    margin-top: 1.5rem;
    align-content: end;
}

.submit_btn button:hover {
    background-color: #2e2057;
    color: #faf371;
}

/* Contact Us section End */

/* Bot Sticky */

.help {
    position: fixed;
    right: 1rem;
    bottom: .8rem;
    z-index: 900;
}

.help p {
    background-color: #fafafa;
    padding: 1rem .7rem;
    border: .5px solid #d3d6e0;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #161928;
}

.help img {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin-left: 4.5rem;
}

/* Footer Start */

footer {
    background-color: #2e2058;
}

/* Footer First row */

.footer_first_row {
    width: 90%;
    margin: 0 auto;
    padding: 3.5rem 0;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 3px solid white;
}

.footer_logo {
    width: 35%;
    height: 400px;
}

.footer_logo img {
    width: 75%;
    cursor: pointer;
}

.footer_logo p {
    margin-top: 1rem;
    color: white;
    font-size: .9rem;
    letter-spacing: .7px;
    line-height: 1.5rem;
}

.social_media_logos {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.social_media_logos li {
    list-style: none;
    font-size: 1.9rem;
}

.social_media_logos li a {
    color: white;
}

.footer_quick_links {
    width: 30%;
    height: 400px;
}

.footer_quick_links .heading {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
    color: #f8ec1f;
}

.footer_quick_links ul li {
    list-style: none;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.footer_quick_links ul li a {
    color: white;
    text-decoration: none;
}

.footer_contact {
    width: 30%;
    height: fit-content;
    height: 400px;
}

.footer_contact .heading {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
    color: #f8ec1f;
}

.footer_contact ul li {
    list-style: none;
    font-size: 1rem;
    color: white;
    margin-top: 2rem;
}

.footer_contact ul li p i {
    font-size: 1.2rem;
    margin-right: 10px;
    line-height: 2rem;
}

/* Footer Second Row */

.footer_second_row {
    width: 90%;
    margin: 3rem auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer_second_row_col {
    width: 24%;
    height: 400px;
}

.footer_second_row_col .heading {
    font-weight: 600;
    font-size: 1.1rem;
    margin-top: .5rem;
    margin-bottom: 1.2rem;
    color: #f8ec1f;
}

.footer_second_row_col ul li {
    list-style: none;
    font-size: 1rem;
    color: white;
    letter-spacing: 1px;
    margin-top: 2rem;
}

.footer_second_row_col ul li a {
    color: white;
    text-decoration: none;
}

.footer_third_row {
    background-color: #271759;
    color: white;
    text-align: center;
    padding: 1.5rem 0;
    letter-spacing: 1px;
}

/* Footer End */

/* side svgs image */
