* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: lightblue;
}

/* Header start */

header {
    margin: 0 6%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5rem 0;
}

/* Header Left Start */

.header_left {
    width: 18%;
}

/* Header Left End */

/* Header Right start */

/* .header_right {
    background-color: red;
} */

.header_right_ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    font-size: .9rem;
    font-weight: 600;
}

.header_right_ul li {
    list-style: none;
    cursor: pointer;
    color: #2e2058;
}

.header_right_ul li i {
    margin-right: 3px;
}

/* Dropdown Button */
.dropbtn {
    background-color: white;
    color: #2e2058;
    padding: 30px 0;
    font-size: .9rem;
    border: none;
    font-weight: 600;
    cursor: pointer;
}

.dropbtn i {
    font-size: .7rem;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 300px;
    /* margin-top: 0px; */
}

/* Links inside the dropdown */
.dropdown-content a {
    color: #2e2058;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    border-top: 2px solid black;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
/* .dropdown:hover .dropbtn {
    background-color: lightblue;
} */

.nav_btn {
    padding: 0.5rem 1rem;
    border: none;
    font-size: .9rem;
    font-weight: 700;
    color: #fff;
    background-color: #2e2057;
    cursor: pointer;
}

/* Header Right End */